.sbt-general {
     .sbt-modal-title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: #000000 !important;
    height: 31px;
  }

.nav-tabs .nav-link {
    border: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-tabs {
   border-bottom: 0px !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 20px !important;
}

.nav-link {
    padding: 0 !important;
    font-size: 15px;
}

.nav-tabs .nav-link {
    color: rgba(44, 44, 45, 0.4);

}

.nav-tabs .nav-link.active {
    color: #2C2C2D !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 13px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sbt-sub-title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.back {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.sbt-delivery {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #676767;
}

.sbt-social-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2D;
}

.form-outline  {
  position: relative;
}

.has-redirect, 
.has-success {
  display: block;
  position: absolute;
  top: 4px;
  left: 13px;
  font-size: 10px;
  color: #555555;
}
   .p-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid hsl(0, 0%, 80%) !important;
    -webkit-transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-transition: border-color 0.2s, -webkit-box-shadow 0.2s;
    transition: border-color 0.2s, -webkit-box-shadow 0.2s;
    transition: border-color 0.2s, box-shadow 0.2s;
    transition: border-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    width: 100%;
}

.has-redirect:focus, 
.has-success:focus  {
  display: none;
}

}

.sbt-social {
  
  .form-outline ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    position: absolute;
    top: 15px;
    color: #555555 !important;
    opacity: 1; /* Firefox */
    font-size: 14px;
  }

}