/** @format */

.sbt-frontstore {
  .sbt-title {
    line-height: 24px;
    color: #000000;
  }

  .sbt-label {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: 500;
  }

  .sbt-value {
    color: #676767;
    font-size: 15px;
    line-height: 18px;
  }

  .sbt-button {
    border-radius: 3px;
    height: 40px;
  }
  .sbt-table-topless {
    border-bottom: 1px solid #DFE0EB;
    border-left: 1px solid #DFE0EB;
    padding: 20px;
    //margin-bottom: 20px;
  }
  .sbt-table-bottomless {
    border-left: 1px solid #DFE0EB;
    padding: 20px;
  }
  .theme {
     position: relative;
     border: 1px solid #3f99ef;
     box-sizing: border-box;
     border-radius: 3px;
  }
  .check {
    position: absolute;
    right: -4px;
    top: -7px;
  }
  .img-div {
    position: relative;
  }
  .img-div:hover {
    cursor: pointer;
  }
  .responsive {
  width: 100%;
  height: auto;
}
 }

 .slide-pane__overlay.overlay-after-open {
    background-color: rgba(37, 59, 128, 0.45) !important;
}
