
.dashboard-left{
  padding: 2em 1.5em 3.5em 0em;
  font-size: 1.1em;
  color: #676767 !important;
}
.dashboard-chart--legend{
display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-chart--legend{
  display: flex;
  line-height:normal
}
.dashboard-chart--date{

}
