.invoice-total-input{
  border-right: none;
  background-color: white !important;
}
#invoice-rate-type{
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #ced4da;
}
#datetemplate .p-component{
  width: 100%;
}
.create--invoice {

  .sub--total {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    border-radius: 2px;
  }
  .sub--title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .sbt--value {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: end;
  }

  .add--field {
    cursor: pointer;
    color: #3b44f0;
    font-size: 12px;
    line-height: 14px;
  }

  .field--title {
    font-style: italic;
    font-weight: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
  .headlessui-listbox-button {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.75rem 0.75rem 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control :not([type="checkbox"]) {
    min-height: 10px;
    padding: 0px;
  }

  .headlessui-listbox-options li {
    border-bottom: 1px solid #ced4da;
    padding: 0.75rem !important;
  }

  .rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
  .rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
  .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
  .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 0px;
  }
}
