/** @format */

$linkColor: #c2c2c2;
$hoverLinkColor: #676767;
$inputColor: #cccdd9;
$fill: 400px;
$transparent: transparent;
$blank: #000000;
$sbtLink: #3f99f0;

.sbt-user-management {


	.sbt-btn {
		border-radius: 3px;
		border: 0.5px solid #dddddd;

		background: #8fc4f6;
		border-color: #8fc4f6;
		color: #ffffff;
		font-weight: 600;
		font-size: 15px;
		min-height: 40px;

		&:hover {
			background: #8fc4f6;
			border-color: #8fc4f6;
			color: #ffffff !important;
		}

		&:focus {
			background: #8fc4f6;
			box-shadow: none;
		}

		&:active {
			background: #8fc4f6;
			border-color: #8fc4f6;
		}
	}

	.sbt-outline-btn {
		border-radius: 3px;
		border: 1px solid #283c7c;
		background: #ffffff;
		color: #283c7c;
		font-weight: 600;
		font-size: 1p5x;
		min-height: 40px;

		&:hover {
			background: #283c7c;
			border-color: #283c7c;
			color: #ffffff !important;
		}

		// &:focus {
		//     background: #8fc4f6;
		//     box-shadow: none;
		// }

		// &:active {
		//     background: #8fc4f6;
		//     border-color: #8fc4f6;
		// }
	}

	.sbt-outline-btn-small {
		border-radius: 3px;
		border: 1px solid #283c7c;
		background: #ffffff;
		color: #283c7c;
		font-weight: 600;
		&:hover {
			background: #283c7c;
			border-color: #283c7c;
			color: #ffffff !important;
		}
		&-danger{
			border: 1px solid #a71d2a;
			border-radius: 3px;
			background: #ffffff;
			color: #a71d2a;
			font-weight: 600;
		}
		&-success{
			border: 1px solid #0e8125;
			border-radius: 3px;
			background: #ffffff;
			color: #0e8125;
			font-weight: 600;
		}
	}

	.pwd-btn {
		border-radius: 3px;
		border: 0.5px solid #dfe0eb;

		background: #dfe0eb;
		border-color: #dfe0eb;
		color: #000000;
		font-weight: 500;
		font-size: 14px;
		min-height: 40px;

		&:hover {
			background: #dfe0eb;
			border-color: #dfe0eb;
			color: #000000 !important;
		}

		&:focus {
			background: #dfe0eb;
			box-shadow: none;
		}

		&:active {
			background: #dfe0eb;
			border-color: #dfe0eb;
		}
	}

	.ui.form .field > label {
		color: #bababa;
		font-weight: 500;
	}

	.border-right {
		border-right: 1px solid #dcdcdc;
	}

	.justify-end {
		justify-content: flex-end;
	}

	.border-left {
		border-left: 1px solid #dcdcdc;
	}

	.bg-white {
		background-color: #fff !important;
	}

	.value {
		font-size: 15px;
	}

	.pb-3 {
		padding-bottom: 1em;
	}

	.text-center {
		text-align: center !important;
	}

	.text-right {
		text-align: right !important;
	}

	.link {
		color: $sbtLink;
	}

	.cursor-pointer {
		cursor: pointer;
	}
}
