$linkColor: #c2c2c2;
$hoverLinkColor: #676767;
$inputColor: #cccdd9;
$fill: 400px;
$transparent: transparent;

.sbt-home {

  @media only screen and (max-width: 1024px) {
    margin-top: 4rem;
  }
  .sbt-input {
    input {
      border: none !important;
      border-bottom: 1px solid $inputColor !important;
      font-size: 0.8em !important;
      width: $fill;
      background-color: $transparent;
    }

    i.icon.search {
      font-size: 0.8em;
      color: $inputColor;
    }
  }

  i.icon.outline {
    color: #bababa;
    font-size: 1.2em;
  }

  .border-right {
    border-right: 1px solid #dcdcdc;
  }

  .border-left {
    border-left: 1px solid #dcdcdc;
  }

  .bg-white {
    background-color: #fff !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .p-3 {
    padding: 1em !important;
  }

  .mt-3 {
    margin-top: 1em !important;
  }

  .mr-2 {
    margin-right: 0.5em !important;
  }

  .ml-2 {
    margin-left: 0.5em !important;
  }

  .font-bold {
    font-weight: 500 !important;
  }

  .value {
    font-size: 15px;
  }

  .pb-3 {
    padding-bottom: 1em;
  }

  .link {
    color: #3f99f0;
    cursor: pointer;
  }
}
.cJRdeF {
  background: #0d6cb4 !important;
}

.jrEQHi {
  background: #0d6cb4 !important;
}

.cRiuCn {
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

rect {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.bottom-right {
  position: absolute;
  width: 100vh;
  background-color: red;
  bottom: 10px;
  right: 20px;
}
