.onboarding {
  &__sidebar{
    margin: 30px 25px;
    img{
      width: 100%;
      height: 100%;
    }
    .api--keys__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #DFE0EB;
      background: #DFE0EB;
      border-radius: 3px;
      padding: 0 5px;
      margin-bottom: 20px;
      div{
        flex: 2;
        h5{
          text-align: center;
        }
      }
      section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 5;
        >input{
          flex: 4;
          &:focus, &:active, &:focus-visible{
            border: none;
            outline-color:transparent !important;
          }
        }
        >img{
          flex: 1;
        }
      }
      input{
        border: none;
        padding: 10px;
      }
      img{
      width: 16px;
      height: 16px;
        cursor: pointer;
      }
      @include media(">=xlarge") {

      }
      @include media(">=large","<xlarge") {
        flex-direction: column;
        >div{
          margin-bottom: 10px;
          padding-top: 5px;
        }
        >section{
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          >input{
            flex: 3;
          }
          >img{
            flex: 1;
          }
        }
       >input{
          margin-bottom: 10px;
          width: 100%;
        }
      }
        @include media(">medium", "<large") {
          flex-direction: column;
        }
        @include media("<medium") {
          flex-direction: column;
        }
        @include media("<=small") {
        }
    }
  }
  &__container{
    @include media(">=xlarge") {
      margin: 70px auto;
      width: calc(100% - 20rem);
    }
    @include media(">=large","<xlarge") {
      margin: 40px auto;
      width: calc(100% - 15rem);
    }
    @include media(">medium", "<large") {
      margin: 40px auto;
      width: calc(100% - 10rem);
    }
    @include media("<medium") {
      margin: 40px auto;
      width: calc(100% - 5rem);
    }
    @include media("<=small") {
      width: calc(100% - 3rem);
    }
  }
  .progress_track{
    width: 100%;
    //height: 154px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d8dbe6;
    box-sizing: border-box;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(">=xlarge") {

    }
    @include media(">=large","<xlarge") {

    }
    @include media(">medium", "<large") {

    }
    @include media("<medium") {
      //border: none;
      flex-direction: column;
      align-items: start;
      &>div{
        margin-bottom: 40px;
      }
    }
    @include media("<=small") {

    }
  }
  .progress_indicator_icon{
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #aeadb1;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
