$linkColor: #c2c2c2;
$hoverLinkColor: #676767;
$inputColor: #cccdd9;
$fill: 400px;
$transparent: transparent;
$size11: 11px;
$stepColor: #4d4d4d;
$black: #000;
.sbt-transaction-overview {
  font-size: 1.1em;
  color: #676767 !important;
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
  @media only screen and (min-width: 767px) {
    padding: 0 3rem;
  }
  .sbt-border-success{
    border: 1px solid #E1EBFF !important;
  }
  .sbt-input {
    input {
      border: none !important;
      border-bottom: 1px solid $inputColor !important;
      font-size: 0.8em !important;
      width: $fill;
      background-color: $transparent;
    }
  }

  .ui.transparent.input>input {
    width: 155px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .icon.close,
  .icon.times {
    font-weight: 100;
    font-size: 8px;
    padding: 8px;
    color: #283c7c;
  }

  .sbt-select-option {
    font-size: 12px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 3px !important;

    .text {
      font-size: 12px !important;
      color: #676767 !important;
    }

    i {
      top: auto !important;
    }
  }

  i.icon.outline {
    color: #bababa;
    font-size: 1.2em;
  }

  .rc-steps {
    .step-body {
      color: $stepColor;

      div {
        padding-bottom: 15px;

        span {
          margin-right: 10px;
        }
      }
    }

    .icon {
      width: 20px !important;
    }

    .success {
      color: #108ee9;
    }

    .failed {
      color: #ffe1e1;
    }

    .fail-trail .rc-steps-item-tail:after {
      background-color: #ffe1e1 !important;
    }
  }

  .rc-steps-small .rc-steps-item-custom .rc-steps-item-icon>.rc-steps-icon {
    font-size: 11px !important;
    top: 1.5px !important;
  }

  .rc-steps-vertical.rc-steps-small .rc-steps-item-tail {
    padding: 13px 0 1px 0 !important;
    left: 5px !important;
    top: 3px !important;
  }

  .rc-steps-vertical .rc-steps-item-description {
    padding-bottom: 0px !important;
  }

  .rc-steps-vertical .rc-steps-item-content {
    min-height: auto !important;
  }

  .border-right {
    border-right: 1px solid #dcdcdc;
  }

  .border-left {
    border-left: 1px solid #dcdcdc;
  }

  .bg-white {
    background-color: #fff !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .p-3 {
    padding: 1em !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .p-2 {
    padding: 0.5em !important;
  }

  .py-2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }

  .px-2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }

  .py-5 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }

  .py-0 {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
  }

  .py-3 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }

  .px-5 {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }

  .mt-3 {
    margin-top: 1em !important;
  }

  .mr-2 {
    margin-right: 0.5em !important;
  }

  .ml-2 {
    margin-left: 0.5em !important;
  }

  .mr-5 {
    margin-right: 3em !important;
  }

  .ml-5 {
    margin-left: 3em !important;
  }

  .font-bold {
    font-weight: 500 !important;
  }

  .value {
    font-size: 15px !important;
  }

  .pb-3 {
    padding-bottom: 1em !important;
  }

  .pb-1 {
    padding-bottom: 0.25em !important;
  }

  .pt-3 {
    padding-top: 1em !important;
  }

  .pt-2-5 {
    padding-top: 1em !important;
  }

  .pb-5 {
    padding-bottom: 3em !important;
  }

  .pt-5 {
    padding-top: 3em !important;
  }

  .text-bold {
    font-weight: 600;
    zoom: 0.9;
  }

  .line-height {
    line-height: 2;
  }

  .ui[class*='right labeled'].icon.button {
    padding-right: 0em !important;
    padding-left: 0em !important;

    i {
      background-color: $transparent;
      border-left: 1px solid #eee;
      font-size: 12px;
      font-weight: 100;
    }
  }

  .p-none {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .perpage .text {
    font-size: $size11;
  }

  .row {
    display: flex;
  }

  .input-tag {
    color: #29327f;
    font-size: 11px;
    width: 100px !important;

    input {
      padding-top: 1.4em;
      padding-bottom: 1.4em;
      color: #283c7c;
    }
  }

  [data-testid='datepicker-input'] {

    input,
    icon::before {
      color: #283c7c;
    }
  }

  .min-height-30 {
    max-height: 30px !important;
  }
}

.font-8 {
  font-size: 0.5rem !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 1rem !important;
}

.link-dark {
  color: rgba(0, 0, 0, 0.8) !important;
}

.text-black {
  color: rgba(0, 0, 0, 1) !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 1) !important;
}

.font-light {
  font-weight: lighter !important;
}
.rc-steps .primary-trail .rc-steps-item-tail:after {
  background-color: #4d4d4d !important;
}
.rc-steps .primary {
  color: #4d4d4d !important;
}
