dd,li {
  margin-bottom:0;
}

.menu{
  padding: 0 !important;
}
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus, input:focus{
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=week]{
  padding: 0 !important;
}
input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], input[type=email],input[type=number],input[type=url],input[type=number]{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
input:active{
  border-color: transparent !important;
}