$menu-height: 70px;
$text__color: #525252;
$text__color--active: #676767;
$text__color--light: #BABABA;
$text__color--active-dark: #4c4c4c;
$text__color--black:#2C2C2D;
$text__color--white:#ffffff;
$menu__color--background:#FAFCFD;
$menu__color--mobile--background:#FAFCFD;
$font__size--base:1rem;
$color__blue:rgba(4,104,255,0.5);
$color__brand:#EB3E25;
$color__brand--light:#FFCBC2;
$color__grey:#ECECEC;
$color__capital:#67C871;
$color__capital_2:#F9812D;
$color__input--background:rgba(247, 229, 56, 0.1);
$breakpoints: (small: 320px,small_medium: 450px, medium: 768px, large: 1024px, xlarge: 1200px, xxlarge: 1600px, mid: 910px);
